.latar {
	color:#039370;
	border: #039370;
	background:#039370;
	background-color:#039370;
}
a{ 
	color:#009900;
	cursor:pointer;
	text-decoration:none;
}

a:hover{ 
	color:#00FF00;
	cursor:pointer;
	text-decoration:blink;
}

.warna a{ 
	color:#00FFCC;
	cursor:pointer;
	padding-left:10px;
	text-decoration:none;
}

.warna a:hover{ 
	color:#FFFFFF;
	cursor:pointer;
	padding-left:10px;
	text-decoration:blink;
}

#pan a{ 
	color:#000000;
	cursor:pointer;
	text-decoration:none;
	font-weight:normal;
}

#pan a:hover{ 
	color:#000000;
	cursor:pointer;
	text-decoration:blink;
	font-weight:bold;
}
#beranda img:hover{
	height:40px;
	width:33px;
	text-decoration:blink;
}
#beranda a:hover{
	color:#039370;
	text-decoration:blink;
}